@page "/"
@* @using Blazor.Web.Components.Pages.Example *@

<PageTitle>Home</PageTitle>

<AuthorizeView Roles="Admin">
    <p>Welcome, Admin!</p>
</AuthorizeView>

<AuthorizeView Roles="User">
    <p>Welcome, User!</p>
</AuthorizeView>


@* <CascadingValue Value="currentUser">
    <ParentComponent />
</CascadingValue> *@
@code {
    // User currentUser = new User
    //     {
    //         Name = "Amberaj",
    //         Role = "Developer"
    //     };
}