@using System.ComponentModel.DataAnnotations
@inject IUserService userService

<Modal Title="@($"{(IsEdit ? "Edit" :"Add")} User")" IsOpen="@IsModalOpen" IsOpenChanged="HandleModalToggle">
    <BodyContent>
        <EditForm Model="Input" method="post" OnValidSubmit="SubmitUser" FormName="User">
            <DataAnnotationsValidator />
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="email" class="form-label">First Name</label>
                        <InputText @bind-Value="Input.FirstName" class="form-control" placeholder="First Name" />
                        <ValidationMessage For="() => Input.FirstName" class="text-danger" />
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="email" class="form-label">Last Name</label>
                        <InputText @bind-Value="Input.LastName" class="form-control" placeholder="First Name" />
                        <ValidationMessage For="() => Input.LastName" class="text-danger" />
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="email" class="form-label">Email</label>
                        <InputText @bind-Value="Input.Email" class="form-control" placeholder="First Name" />
                        <ValidationMessage For="() => Input.Email" class="text-danger" />
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="email" class="form-label">Password</label>
                        <InputText @bind-Value="Input.Password" class="form-control" placeholder="First Name" />
                        <ValidationMessage For="() => Input.Password" class="text-danger" />
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="password" class="form-label">&nbsp;</label>
                        <div class="form-check">
                            <InputCheckbox id="isActive" @bind-Value="Input.IsActive" class="form-check-input" type="checkbox" />
                            <label class="form-check-label" for="isActive">Active</label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer text-right">
                <button type="submit" class="btn btn-primary">Submit</button>
                <button type="button" class="btn btn-default" @onclick="Cancel">Cancel </button>
            </div>
        </EditForm>
    </BodyContent>
</Modal>

@code{
    [Parameter]
    public EventCallback<bool> SaveChanged { get; set; }

    [SupplyParameterFromForm]
    private UsersDto Input { get; set; } = new();

    private bool IsEdit { get; set; } = false;
    public bool IsModalOpen { get; set; }

    protected override async Task OnInitializedAsync()
    {
    }

    private async Task HandleModalToggle(bool isOpen)
    {
        IsModalOpen = isOpen;
        await SaveChanged.InvokeAsync();
        //return Task.CompletedTask;
    }

    private void HandleConfirm()
    {
        IsModalOpen = false;
    }
    private async Task Cancel()
    {
        IsModalOpen = false;
        await SaveChanged.InvokeAsync(false);
    }

    public void AddUser()
    {
        IsModalOpen = true;
        IsEdit = false;
        Input = new();
    }

    public void EditUser(UsersDto model)
    {
        IsModalOpen = true;
        IsEdit = true;
        Input = new()
        {
            Id = model.Id,
            FirstName = model.FirstName,
            IsActive = model.IsActive
        };
    }

    public async Task SubmitUser()
    {
        var result = await userService.ManageUser(Input);
        if (result != null && result.IsSuccess)
        {
            IsModalOpen = false;
            await SaveChanged.InvokeAsync(result.Data);
        }
    }
}