@using System.Security.Claims
@inherits LayoutComponentBase

<AuthorizeView>
    <Authorized>
        <div class="page">
            <div class="sidebar">
                <NavMenu />
            </div>
            <main>
                <div class="top-row px-4">
                    <span>@context.User.Identity.Name</span>
                    <span> <a href="/logout">Logout</a></span>
                </div>

                <article class="content px-4">
                    <CascadingValue Value="currentUser">
                        @Body
                    </CascadingValue>
                </article>
            </main>
        </div>
    </Authorized>
</AuthorizeView>


<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

@code {
    [Inject]
    NavigationManager navigationManager { get; set; }

    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; }

    private UserViewModel currentUser = new();

    protected override async void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            var response = await authenticationStateTask;
            var user = response.User;
            if (user.Identity.IsAuthenticated)
            {
                currentUser.UserId = Convert.ToInt64(user.FindFirst(ClaimTypes.NameIdentifier)?.Value ?? "0");
                currentUser.Name = user.Identity.Name;
                currentUser.Role = user.FindFirst(ClaimTypes.Role)?.Value;
            }
            else
            {
                navigationManager.NavigateTo("/login");
            }
            StateHasChanged();
        }
    }
}